/* styleamos todo con un font importado sin decoraciones */
* {
  font-family: Marvel, Helvetica, sans-serif;
  text-decoration-line: none;
  list-style-type: none; /*le sacamos los puntitos a todos los ul/li */
}

/*styleamos el header*/
header {
  font-weight: bold;
}
header a {
  color: whitesmoke;
}
/*acomodamos los logos y styleamos .logos (el hamburger y el logo "PELUCHES MARVEL")*/
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.993);
  border-radius: 10px;
  margin: 2px 5px 0px 5px;
  border: 3px grey solid;
}
/*styleamos los logos*/
.logos > * {
  margin: 6px;
  padding: 2% 6%;
  background-color: rgb(240, 65, 65);
  border-radius: 10px;
  text-shadow: 0.2px 0.1px 2px black;
  box-shadow: 0.2px 0.1px 2px black;
}
.logos > *:hover {
  text-shadow: 1.5px 1px 1px black;
  box-shadow: 1.5px 1px 1px black;
}
/* styleamos el nav y su lista */
nav {
  background-color: rgba(93, 93, 93, 0.953);
  border-radius: 0px 0px 9px 9px;
  border: 3px grey solid;
  border-top: none;
  margin: 0px 15px 15px 15px;
}
/* acomodamos los elementos de la lista (pc/desktop) */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
/* styleamos los elementos de la lista */
nav ul li {
  padding: 1.2% 2%;
}
nav ul li:hover {
  background-color: rgb(50, 50, 149);
  border-radius: 18px;
}
/*metemos el fondo en el body*/
body {
  background-image: url(../img/fondoBody.jpeg);
  background-size: 50.3%;
  background-position: center;
  margin: 0;
}
/* styleamos el footer */
footer {
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: rgb(50, 50, 149);
}
/* acomodamos elementos del footer y styleamos el footer */
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0px;
  font-weight: bold;
}
/* styleamos elementos del footer */
footer ul li {
  padding: 1.9% 0%;
}
footer ul li > * {
  color: white;
}
footer ul li > :hover {
  text-shadow: 1px 1px 2px black;
}
/* cuando esta es un size tipo pc/desktop el hamburger desaparece */
@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
/* mobile size */
@media screen and (max-width: 769px) {
  /* hacemos invicible el logo "PELUCHES MARVEL" */
  .logos h1 {
    display: none;
  }
  /* hacemos invicible el nav */
  nav {
    display: none;
  }
  /* este se togglea x js  */ /*muestra el nav y su contenido centrado*/
  .mostrarNav {
    display: flex;
    justify-content: center;
  }
  /* muestra los elementos de la lista del nav en fila */
  .mostrarNav ul {
    flex-direction: row;
  }
  /* styleamos las listas del nav */
  .mostrarNav li {
    padding: 10% 10%;
  }
}
